@model List<W05L03.Models.Scarpe>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        @foreach (var scarpa in Model)
        {
            <div class="col-sm-4 my-2">
                <div class="card shadow text-white">
                    <div style="width: 100%; max-width: 450px; overflow: hidden;" class="card-img-container">
                        <img class="card-img-top w-100" src="@Url.Content(scarpa.ImmagineCopertina)" alt="Immagine di copertina per @scarpa.NomeProdotto" />
                    </div>
                    <div class="card-body bg-dark">
                        <h5 class="card-title">@scarpa.NomeProdotto</h5>
                        <p class="card-text">Prezzo: @scarpa.Prezzo</p>
                        <a href="@Url.Action("Dettagli", "Home", new { id = scarpa.IdProdotto })" class="btn btn-info fw-bold">Dettagli</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
